/*****************************************************************************/
/* main: Style */
/*****************************************************************************/
body {
  background: #ededed;
}

.container {
  width: 80%;
  padding: 20px;
  margin: 50px auto 20px;
  background: #ffffff;
  border: 1px solid #666666;
}

.row {
  clear: both;
}

.main {
}
